body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
  background: #999;
}

a {
  text-decoration: none;
  color: #252525;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
}

.wrapper {
	padding: 10px;
	border-radius: 10px;
	background: #ccc;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav {
	background: #fff;
	padding: 5px 0px 0px;
	box-sizing: border-box;
	height: auto;
	display: flex;
	align-items: flex-end;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  flex-basis: 50%;
}

.nav ul.nav-left {
	margin-left: 10px;
}

.nav ul.nav-right {
	margin-right: 10px;
	justify-content: flex-end;
	align-content: center;
	align-items: center;
	margin-bottom: 8px;
}

.nav-right .avatar {
	height: 30px;
	border-radius: 15px;
	display: inline-block;
	vertical-align: middle;
	margin: 0px 10px;
	border: 1px solid #ccc;
}

.nav-right span {
	display: inline-block;
	vertical-align: middle;
}

.nav-right .question-button.small {
	margin: 0px auto 0px;
}

.nav li{
	padding: 0px;
	box-sizing: border-box;
}

.nav li a {
	display: inline-block;
	padding: 15px 25px 15px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #eee;
}

.nav li a:hover {
	background: #ddd;
}

.nav li a.active {
	background: green;
	color: #fff;
}

p {
	margin: 0px;
	padding: 0px;
}

h4.center {
	letter-spacing: 1px;
	width: 90%;
	margin: 0px auto 10px;
	font-size: 1.25em;
}

h5.center {
	letter-spacing: 1px;
	width: 90%;
	margin: 20px auto 10px;
	color: #666;
}

input { 
	display: block;
	width: 90%;
	margin: 5px auto;
	padding: 5px;
	font-size: 0.9em;
	text-align: center;
}

.active {
  font-weight: bold;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 0px;
  text-decoration: none;
}

.question {
	display: block;
	width: 100%;
	cursor: default;
	margin: 10px auto 40px;
	padding: 10px 0px;
	background: transparent;
}

.avatar {
  height: 60px;
  border-radius: 30px;
  margin: 10px auto;
  display: block;
  border: 2px solid #fff;
}

.question-info {
	display: block;
	margin: -40px auto;
	padding: 20px 10px 10px;
	background: #fff;
	border-radius: 10px;
}

.answerContainer {
	position: relative;
	width: 100%;
	min-height: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: center;
	letter-spacing: 1px;
	font-weight: normal;
}

.answerContainer h6 {
	padding: 0px;
	margin: 0px;
	font-weight: lighter;
	height: 15px;
	line-height: 15px;
}

.answerContainer span {
	display: block;
	font-size: 1em;
	padding: 5px 0px;
}

.answerContainer span.percent {
	font-size: 1.2em;
}

span.count {
	font-size: 0.75em;
}

.option-one, .option-two {
	display: grid;
	align-items: center;
	align-content: center;
	text-align: center;
	cursor: pointer;
	background: #eee;
	padding: 10px 10px 10px;
	border-radius: 10px;
	flex-basis: 50%;

	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.option-one:hover, .option-two:hover {
	background: #ddd;
}

.option-one {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-right: 1px solid #ccc;
}

.option-two {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.active-option.option-one, .active-option.option-two {
	background: green;
	color: #fff;
}

.question-button {
	display: block;
	width: 120px;
	margin: 10px auto 0px;
	padding: 10px 30px;
	border-radius: 10px;
	font-size: 0.9em;
	letter-spacing: 1px;
	background: #eee;
	border: none;
	cursor: pointer;
	text-align: center;

	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.question-button.small {
	width: 80px;
	margin: 15px auto 0px;
	padding: 10px 0px;
	font-size: 0.75em;
}

.question-button:hover {
	background: green;
	color: #fff;
}

.question-button:disabled {
	background: #eee;
	color: #ccc;
}

.leaderboard-item {
	display: flex;
	margin: 30px auto;
	padding: 20px 10px 10px;
	background: #fff;
	border-radius: 10px;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: center;
}

.leaderboard-item .avatar {
  height: 100px;
  border-radius: 50px;
  width: 100px;
  flex-basis: 100px;
}

.leaderboard-info {
	flex-basis: 300px;
	padding: 10px 10px 10px 20px;
	border-left: 1px solid #ccc;
}

.leaderboard-info h3{
	margin: 5px auto 15px;
}

.leaderboard-stat-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: center;
}

.leaderboard-stat-box {
	flex-basis: 50%;
	text-align: center;
}

.leaderboard-stat-box:first-child {
	border-right: 1px solid #ccc;
}

.leaderboard-stat-box span {
	display: block;
}

.leaderboard-number {
	font-size: 1.75em;
}

.login .avatar {
	position: relative;
	z-index: 2;
	background: #eee;
	height: 80px;
	border-radius: 40px;
}

.login select {
	display: block;
	width: 80%;
	padding: 20px;
	margin: 10px auto;
	font-size: 0.9em;
	height: 30px;
}

option {
	padding: 5px;
	font-size: 0.9em;

}

